<div *ngIf="gameId && !isOnPlay; else menuInicial">
  <div class="centered">
    <button (click)="play()" class="big_red_button_circ" mat-button color="primary">DING DING DING</button>
    <app-victory [data]="data"> </app-victory>
  </div>

</div>
<ng-template #menuInicial>
  <div *ngIf="isOnPlay; else submitAttempt">

    <div class="centered">
        <mat-label>  gameId </mat-label>

        <input name="gameId" [(ngModel)]="gameId" />
      <button (click)="goIntoExistingGame()" mat-button color="primary"> Play an already existing game</button>
      OR
        <mat-label>  numeroJogadas </mat-label>

        <input name="numeroJogadas" [(ngModel)]="numeroJogadas" />
        <mat-label>  percentagemWin </mat-label>

        <input name="percentagemWin" [(ngModel)]="percentagemWin" />
      <button (click)="newGame()" mat-button color="primary"> New Game </button>
    </div>
  </div>
  <ng-template #submitAttempt>
    <div class="centered">


          <mat-label>  Name </mat-label>
          <input name="guyName" [(ngModel)]="guyName" />
          <mat-label>  luckyQuote </mat-label>

          <input name="luckyQuote" [(ngModel)]="quote" />
        <button type="button"  (click)="goIntoExistingGame()" mat-button color="primary"> Attempt </button>

    </div>

  </ng-template>
</ng-template>
