.centered{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh
}

.big_red_button_circ{
  border-radius: 50%;
  background-color: #ffffff;
  background-color: #FF0000;
  font-size:7vh;
  height: 70vh;
  width: 70vh;

}
